.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.top-component {
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: center;
  cursor: default;
}

.rating-wrapper-title {
  font-weight: 600;
  text-align: left;
  font-size: 13px;
  padding-bottom: 4px;
}

.rating-wrapper-instruction {
  font-weight: 400;
  font-size: 11px;
  padding-top: 4px;
}
.modal-header {
  font-size: 20px;
}

.modalContainer {
  padding: 30px;
  /* max-width: 600px; */
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  cursor: default;
  max-width: 300px;
}

.content {
  width: 100%;
  justify-content: left;
}

.description-wrapper {
  width: 100%;
}

.description-wrapper-header {
  font-weight: 600;
  text-align: left;
  font-size: 13px;
  padding-bottom: 4px;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
}

textarea::placeholder {
  text-align: center;
  align-items: center;
  padding: 30px;
}

.close-container {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  left: 0px;
}

.leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

label {
  color: white;
  font-size: 0.6em;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}
.close-container:hover label {
  opacity: 1;
}

.review-submit-btn {
  padding: 10px;
  background-color: rgba(112, 127, 143, 1);
  color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
}
.review-submit-btn-wrapper {
  padding: 20px 20px 20px 0px;
}
.star-wrapper {
  display: flex;
  margin: 1rem 0;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.title-wrapper input {
  display: flex;
  max-width: 100px;
  text-align: left;
  padding: 5px;
}

.title-wrapper-header {
  font-weight: 600;
  text-align: left;
  font-size: 13px;
  padding-bottom: 4px;
}

.title-input {
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 4px;
  border-width: 1.5px;
}

input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: darkgray;
}

input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: darkgray;
}
input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: darkgray;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: darkgray;
}
