body {
  padding-top: 70px;
  background-color: rgba(242, 244, 271, 1);
}

.page-header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 3;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

.page-header.scrolled {
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.logo-image {
  height: 35px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  max-height: 0;
  align-items: center;
  font-weight: 500;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-menu.expanded {
  max-height: 400px;
  height: auto;
  background-color: rgba(242, 244, 271, 1);
  z-index: 3;
  /* padding: 10px; */
}

.nav-menu.expanded .nav-item {
  padding: 20px;
}

.nav-menu.scrolled {
  background-color: white;
}

.name {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.nav-link {
  margin-right: 10px;
}

.user-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 155px;
  float: right;
  padding-right: 20px;
}

.user-header a {
  padding: 5px;
  color: black;
  text-decoration: none !important;
  /* padding-left: 10px; */
  padding-right: 0px;
}

.login-link {
  margin-right: 20px;
}

.signout-link {
  cursor: pointer;
}

.burger-icon {
  display: none;
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 25px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.burger-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  transition: all 0.3s;
  /* margin-left: 20px; */
}

.burger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1120px) {
  .burger-icon {
    display: flex;
  }

  .login-link {
    margin-right: 0px;
  }

  .user-header a {
    padding-left: 10px;
  }

  .user-header {
    width: auto;
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 3;
  }

  .nav-item {
    text-align: center;
  }

  .nav-link {
    padding: 10px 0;
  }
}

@media screen and (max-width: 750px) {
  .name {
    position: relative;
  }
  .header-content {
    justify-content: space-evenly;
  }
  .burger-icon.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

@media screen and (max-width: 600px) {
  .burger-icon.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}
