.property-news-container {
  padding-top: 20%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-card-link {
  text-decoration: none;
  color: black;
}

.property-news-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1020px;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #ffffff; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

.news-card-img-wrapper {
  max-width: 120px;
}

.news-card img {
  width: 120px;
  height: 90px;
  padding: 0px;
  /* height: auto; */
  object-fit: fill;
  /* margin-bottom: 10px; */
  border-radius: 4px;
  max-height: 120px;
  max-width: 130px;
}

.news-card p {
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 300px;
  font-weight: 700;
}

.news-card a {
  font-size: 14px;
  color: #0000ee;
  text-decoration: underline;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.news-card-title-wrapper {
  max-width: 125px;
  width: 100%;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

@media screen and (max-width: ) {
}

.swiper-scrollbar {
  background: none !important;
}
