.review-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.review-wrapper {
  max-width: 1000px;
  /* width: 100%; */
}

.review-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  width: auto;
  min-width: 300px;
  max-width: 750px;
}

.review-card-actions {
  display: flex;
  justify-content: flex-end;
}

.review-card-btn {
  margin-right: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.bottom-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp-title {
  font-weight: 700;
  padding-right: 5px;
}
.review-card-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.timeStamp {
  display: flex;
  padding-left: 10px;
  font-size: 11px;
}

.timestamp-time {
  font-size: 12px;
}
.review-card-title-wrapper {
  padding-bottom: 10px;
}

.review-card-title {
  font-size: 18px;
  font-weight: 1000;
}
.author-username-wrapper {
  display: flex;
  /* padding-top: 5px; */
}
.author-username-title {
  font-weight: 700;
  padding-right: 5px;
  font-size: 12px;
}
.author-username {
  font-size: 12px;
}
.icon {
  margin-right: 5px;
}
.review-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 50%;
}
.review-box-header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 20px;
  width: 100%;
  min-width: 340px;
}
.review-box-content {
  width: 100%;
}

.average-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.average-review-number {
  padding-right: 10px;
  font-weight: 600;
}
.review-count {
  padding-left: 10px;
}
