.review-btn {
  position: relative;
  padding: 12px 24px;
  max-width: fit-content;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.submit-review-button-wrapper {
  text-align: center;
}

.search-result-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-result-wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.search-result-heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  text-align: center;
}
.claim-property-button-wrapper {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  flex-direction: row;
}

.claim-property-button {
  padding: 5px;
  background-color: rgba(112, 127, 143, 1);
  color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  max-width: fit-content;
  margin-left: 10px;
}
.no-reviews-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.no-reviews-wrapper-heading {
  padding: 20px;
  text-align: center;
}

.no-reviews-wrapper-text {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}

.image-wrapper {
  max-width: 1020px;
}

.no-reviews-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 1000px;
  min-width: 400px;
}

@media screen and (max-width: 500px) {
  .search-result-heading {
    font-size: 18px;
  }
  .search-result-wrapper {
    padding-top: 1rem;
  }
}
.review-card-header {
  display: flex;
  align-items: center;
}
.timeStamp {
  padding-left: 10px;
  font-size: 11px;
}

.timestamp-time {
  font-size: 12px;
}
.timestamp-title {
  font-size: 12px;
  font-weight: bold;
}

.review-wrapup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.review-wrapup-wrapper {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.issue-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
